<form method="POST" action="/new">
    <div>

        <label for="user">user:</label>
        <input type="text" name="messageUser" placeholder="your name">

    </div>
    <div>

        <label for="message">message</label>
        <input type="text" name="messageText" placeholder="your message">
    </div>
    <button>submit</button>
</form>