<!-- views/createUser.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <%- include("partials/errors.ejs") %>
        <form action="/create" method="POST">
            <label for="firstName">First Name: </label>
            <input type="text" name="firstName" id="firstName" required>
            <br>
            <label for="lastName">Last Name: </label>
            <input type="text" name="lastName" id="lastName" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
            <br>
            <label for="age">Age:</label>
            <input type="number" name="age">
            <br>
            <label for=" bio">Bio</label>
            <input type="text" name="bio">
            <button type="submit">Submit</button>
        </form>
        <br>
        <a href="/">Back to home</a>
        <form action="/search" method="GET" id="searchForm">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <button type="submit">Search</button>
        </form>

        <script>
            document.getElementById("searchForm").addEventListener("submit", function () {
                // Clear the form fields after submission
                this.reset();
            });
        </script>


</body>

</html>